<div class="py-1">
  <!-- Title -->
  <div>
    <h2 class="text-2xl font-semibold leading-tight">Users</h2>
  </div>

  <!-- Filters -->
  <div class="my-2 flex sm:flex-row flex-col">
    <div class="flex flex-row mb-1 sm:mb-0">
      <!-- Page Size -->
      <div class="relative">
        <select
          (change)="onPageSizeChange($any($event.target).value)"
          class="h-full rounded-l border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        >
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
      <!-- SortBy -->
      <div class="relative">
        <select
          (change)="onSortByChange($any($event.target).value)"
          class="h-full border-t block appearance-none w-full sm:rounded-r-none sm:border-r-1 border-r border-b bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500"
        >
          @for (item of keysUser; track $index) {
          <option>{{ item }}</option>

          }
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
      <!-- Direction -->
      <div class="relative">
        <select
          (change)="onDirectionChange($any($event.target).value)"
          class="h-full rounded-r border-t block appearance-none w-full sm:rounded-r-none sm:border-r-0 border-r border-b bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500"
        >
          <option value="asc">Asc</option>
          <option value="desc">Desc</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
    </div>
    <!-- Search -->
    <!-- Search -->
    <div class="block relative">
      <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
        <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
          <path
            d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z"
          ></path>
        </svg>
      </span>
      <input
        class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
        type="text"
        [(ngModel)]="searchText"
        placeholder="Search users..."
        (keyup)="onSearch($event)"
        (keyup.enter)="getUsers()"
      />
    </div>

    <!-- Search Field Selector -->
    <div class="mt-2">
      <select
        class="border px-2 py-1 rounded"
        [(ngModel)]="selectedField"
        (change)="getUsers()"
      >
        <option value="id">ID</option>
        <option value="name">Name</option>
        <option value="lastName">Last Name</option>
        <option value="email">Email</option>
        <option value="phoneNumber">Phone Number</option>
        <option value="address">Address</option>
        <option value="dni">DNI</option>
      </select>
    </div>

    <button
      (click)="getUsers()"
      class="ml-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
    >
      Search
    </button>
  </div>

  <!-- Table -->
  <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
      <table class="min-w-full leading-normal">
        <thead>
          <tr>
            @for (key of keysUser; track $index) {
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              {{ key }}
            </th>
            }
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
            option
          </th>
          </tr>
        </thead>
        <tbody>
          @for (user of userList; track $index ) {
          <tr>
            <!-- Avatar + Name -->
            <!-- <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <div class="flex items-center">
                  <div class="flex-shrink-0 w-10 h-10">
                    <img
                      class="w-full h-full rounded-full"
                      src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p class="text-gray-900 whitespace-no-wrap">Vera Carpenter</p>
                  </div>
                </div>
              </td> -->

            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">{{ user.id }}</p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">{{ user.name }}</p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">
                {{ user.lastName }}
              </p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">{{ user.email }}</p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">
                {{ user.phoneNumber }}
              </p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">{{ user.address }}</p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">{{ user.dni }}</p>
            </td>

            <td
              [tooltip]="getDynamicTooltipAccount(user.enabled, user.accountNonExpired, user.accountNonLocked, user.credentialsNonExpired)"
              [options]="toolOptionAccountStatus"
              class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
              <div class="flex justify-center">
                <span
                  [class]="getColorClassAccountStatus(user.enabled)"
                  class="relative px-2.5 py-0.5 my-2 inline-block text-xs font-medium rounded-full border dark:border-transparent">
                  <p>{{ getAccountStatus(user.enabled) }}</p>
                </span>
              </div>

              <div>
                 <div class="grid grid-cols-4 gap-2 place-content-between">
                  <div class="mx-0">
                    <span class="flex items-center justify-center size-5 text-xs font-medium"
                    [class]="getColorAccountStatusBadges(user.enabled)">
                      <lucide-icon name="shield-check" [size]="16" color="black" [strokeWidth]="2"></lucide-icon>
                    </span>
                  </div>
                  <div class="mx-0">
                    <span class="flex items-center justify-center size-5 text-xs font-medium"
                    [class]="getColorAccountStatusBadges(user.accountNonExpired)">
                      <lucide-icon name="shield-alert" [size]="16" color="black" [strokeWidth]="2"></lucide-icon>
                    </span>
                  </div>
                  <div class="mx-0">
                    <span class="flex items-center justify-center size-5 text-xs font-medium"
                    [class]="getColorAccountStatusBadges(user.accountNonLocked)">
                      <lucide-icon name="shield-ban" [size]="16" color="black" [strokeWidth]="2"></lucide-icon>
                    </span>
                  </div>
                  <div class="mx-0">
                    <span class="flex items-center justify-center size-5 text-xs font-medium"
                    [class]="getColorAccountStatusBadges(user.credentialsNonExpired)">
                      <lucide-icon name="shield-x" [size]="16" color="black" [strokeWidth]="2"></lucide-icon>
                    </span>
                  </div>
                 </div>
              </div>
            </td>

            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <ul
                [tooltip]="getDynamicTooltipRole(user.roles)"
                [options]="toolOptionRole"
              >
                @for (item of user.roles; track $index) {
                  <li class="p-1">
                    <div class="flex justify-center">
                      <span
                        class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-white dark:bg-zink-700"
                        [ngClass]="getRoleClass(item.name)">
                        {{ item.name }}
                      </span>
                    </div>
                  </li>

                }
              </ul>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">
                {{ user.accountExpiryDate | date: 'dd/MM/yyyy HH:mm' }}
              </p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">

              <!-- MODAL -->
                <!-- <div mndropdown [placement]="(rowIndex >= itemsPerPage - 2)?'top-end':'bottom-end'" class="dropdown">
                  <button mndropdownToggle class="flex items-center justify-center size-[30px] dropdown-toggle p-0 text-slate-500 btn bg-slate-100 hover:text-white hover:bg-slate-600 focus:text-white focus:bg-slate-600 focus:ring focus:ring-slate-100 active:text-white active:bg-slate-600 active:ring active:ring-slate-100 dark:bg-slate-500/20 dark:text-slate-400 dark:hover:bg-slate-500 dark:hover:text-white dark:focus:bg-slate-500 dark:focus:text-white dark:active:bg-slate-500 dark:active:text-white dark:ring-slate-400/20" id="productAction1" data-bs-toggle="dropdown"><lucide-angular name="more-horizontal" class="size-3"></lucide-angular></button>
                  <ul mndropdownMenu class="absolute z-50 py-2 mt-1 ltr:text-left rtl:text-right list-none bg-white rounded-md shadow-md dropdown-menu min-w-[10rem] dark:bg-zink-600" aria-labelledby="productAction1">
                      <li>
                          <a class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" routerLink="/product-overview"><lucide-angular name="eye" [class]="'inline-block size-3 ltr:mr-1 rtl:ml-1'"></lucide-angular> <span class="align-middle">Overview</span></a>
                      </li>
                      <li>
                          <a class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" routerLink="/product-create"><lucide-angular name="file-edit" [class]="'inline-block size-3 ltr:mr-1 rtl:ml-1'"></lucide-angular> <span class="align-middle">Edit</span></a>
                      </li>
                      <li>
                        <a class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" routerLink="/product-create"><lucide-angular name="trash-2" [class]="'inline-block size-3 ltr:mr-1 rtl:ml-1'"></lucide-angular> <span class="align-middle">Edit</span></a>
                      </li>
                  </ul>
                </div> -->

            </td>
          </tr>
          }
        </tbody>
      </table>

      <!-- Pagination -->
      <div
        class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between"
      >
        <span class="text-xs xs:text-sm text-gray-900">
          Showing {{ page + 1 }} to {{ totalPages }} pages of
          {{ totalElements }} Entries
        </span>

        <div class="">
          <!-- Counter Page -->
          <div class="inline-flex mt-2 xs:mt-0">
            <button
              [disabled]="page === 0"
              (click)="previousPage()"
              class="bg-gray-300 hover:bg-gradient-to-tr hover:from-blue-600 hover:to-blue-400 px-4 py-2 rounded-l transition duration-300 ease-in-out hover:bg-blue-500 text-white hover:bg-white/10 hover:shadow-lg hover:shadow-blue-500/40 disabled:opacity-50"
            >
              Prev
            </button>

            <!-- Page Numbers -->
            @for (i of pagesArray; track $index) {
            <button
              [class.active]="i === page"
              (click)="goToPage(i)"
              class="bg-gray-300 hover:bg-gradient-to-tr hover:from-blue-600 hover:to-blue-400 px-4 py-2 transition duration-300 ease-in-out hover:bg-blue-500 text-white hover:bg-white/10 hover:shadow-lg hover:shadow-blue-500/40"
            >
              {{ i + 1 }}
            </button>
            }

            <button
              [disabled]="page >= totalPages - 1"
              (click)="nextPage()"
              class="bg-gray-300 hover:bg-gradient-to-tr hover:from-blue-600 hover:to-blue-400 px-4 py-2 rounded-r transition duration-300 ease-in-out hover:bg-blue-500 text-white hover:bg-white/10 hover:shadow-lg hover:shadow-blue-500/40 disabled:opacity-50"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
